mixin atome-h1( content )
	h1(attributes)= content

mixin atome-h2( content )
	h2(attributes)= content

mixin atome-h3( content )
	h3(attributes)= content

mixin atome-h4( content )
	h4(attributes)= content

mixin atome-h5( content )
	h5(attributes)= content

mixin atome-h6( content )
	h6(attributes)= content

mixin atome-p( content )
	p(attributes)= content

mixin atome-div
	div(attributes)